.filters {
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	align-self: flex-end;
	border-right: 30px;
	margin-left: auto;
}

.filters button:hover {
	opacity: 90%;
}

.locations, .amenities {
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
	text-align: left;
	margin-left: 20px;
}

h3 {
	font-weight: 600;
	margin-bottom: 0;
}

h4 {
	font-size: 14px;
	font-weight: 400;
	margin-top: 5px;
}

h2 {
	font-size: 16px;
}

.filters .popover,
.amenities .popover {
	display: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.filters:hover .popover {
	display: block;
}
